<div fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center" style="height: 80vh">
    <mat-card class="kt-login-card">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-card-title>
          Login
        </mat-card-title>
        <mat-card-subtitle>
          Se connecter
        </mat-card-subtitle>
        <span *ngIf="errorMessage">{{errorMessage}}</span>
        <mat-card-content>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Login</mat-label>
              <input matInput formControlName="login" placeholder="login">
              <mat-icon matSuffix color="primary" *ngIf="!loginForm.controls['login'].errors">sentiment_very_satisfied</mat-icon>
              <mat-icon matSuffix color="warn" *ngIf="loginForm.controls['login'].errors">sentiment_very_dissatisfied</mat-icon>
              <mat-hint>Ton login</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password" placeholder="Password">
              <mat-icon matSuffix color="primary" *ngIf="!loginForm.controls['password'].errors">sentiment_very_satisfied</mat-icon>
              <mat-icon matSuffix color="warn" *ngIf="loginForm.controls['password'].errors">sentiment_very_dissatisfied</mat-icon>
              <mat-hint>Ton mot de passe (si le changement que tu dois faire tout les 2 mois n'a pas foiré, sinon appelle ami)</mat-hint>
            </mat-form-field>
          </p>
        </mat-card-content>
        <mat-card-actions class="kt-card-actions" fxLayout="row" fxLayoutAlign="center center">
          <button mat-raised-button color="primary">
            <mat-icon>account_circle</mat-icon> Donne moi du bonheur
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
